<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blingwei.musicService.dao.EssayWithSongMapper">
    <resultMap id="baseResultMap" type="com.blingwei.musicService.pojo.EssayWithSong">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="song_id" property="songId" jdbcType="INTEGER" />
        <result column="essay_id" property="essayId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="heat" property="heat" jdbcType="INTEGER"/>
        <result column="pick_num" property="pickNum"  jdbcType="INTEGER"/>
        <result column="reward" property="reward" jdbcType="INTEGER"/>
        <result column="commit_num" property="commitNum" jdbcType="INTEGER"/>
        <result column="collect_num" property="collectNum" jdbcType="INTEGER"/>
        <result column="views" property="views" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="baseColumn">

    </sql>

    <insert id="addEssayWithSong" parameterType="EssayWithSong" useGeneratedKeys="true" keyProperty="id">
        insert into essay_song (song_id, essay_id, user_id, create_time) values (#{songId}, #{essayId}, #{userId}, now())
    </insert>

    <select id="findEssayWithSongById" parameterType="java.lang.Integer" resultMap="baseResultMap">
        select * from essay_song where id = #{id}
    </select>

    <select id="findEssayWithSongByEssayId" parameterType="java.lang.Integer" resultMap="baseResultMap">
        select * from essay_song where essay_id = #{id};
    </select>

    <select id="getEssayWithSongNumByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from essay_song where user_id = #{userId}
    </select>

    <select id="getPublicInfosByUserName" parameterType="java.lang.String" resultType="com.blingwei.musicService.bean.responseBean.PublishInfoResponse">
        SELECT e.title as title, e.content as content, e.id as essayId, es.id as id
        from essay_song es
                 LEFT JOIN essay e on es.essay_id = e.id
                 LEFT JOIN user u on es.user_id = u.id
        where u.userName = #{userName}
    </select>

    <select id="findEssayNameById" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT essay.title
        from essay, essay_song
        where essay.id = essay_song.essay_id
          and essay_song.id = #{id}
    </select>


</mapper>
