<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blingwei.musicService.dao.RelationTopicPublishMapper">
  <resultMap id="BaseResultMap" type="com.blingwei.musicService.pojo.RelationTopicPublish">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="topic_id" jdbcType="INTEGER" property="topicId" />
    <result column="publish_id" jdbcType="INTEGER" property="publishId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from relation_topic_publish
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blingwei.musicService.pojo.RelationTopicPublish">
    insert into relation_topic_publish (id, topic_id, publish_id, 
      create_time, is_delete)
    values (#{id,jdbcType=INTEGER}, #{topicId,jdbcType=INTEGER}, #{publishId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.blingwei.musicService.pojo.RelationTopicPublish">
    update relation_topic_publish
    set topic_id = #{topicId,jdbcType=INTEGER},
      publish_id = #{publishId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, topic_id, publish_id, create_time, is_delete
    from relation_topic_publish
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, topic_id, publish_id, create_time, is_delete
    from relation_topic_publish
  </select>
</mapper>