<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeHandlers>
        <typeHandler handler="com.blingwei.musicService.handle.BaseEnumTypeHandler"  javaType="com.blingwei.musicService.enums.TypeEnum"/>
    </typeHandlers>
</configuration>
